{% extends "base.html" %}
<!--This file is not used by this site.  It is here as a template so that 
you can dupicate it as a starting place for a new firm.-->
{% block body %}
    <div class="container">
        <h1>New Team Form</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        <form method=post>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="field">What is the name of your team?</label>
                {{ form.name(class="form-control") }}
            </div>
            <h3>First Team Member: {{current_user.fname}} {{current_user.lname}} </h3>
            <div class="form-group">
                <label for="content">Your Teammate</label>
                {{ form.other_player(class='form-control') }} <br>
            </div>
            {{form.submit(class='form-control btn btn-secondary')}}
            </table>
        </form>
    </div>

    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        tinymce.init({
            forced_root_block : false,
            selector: 'textarea.tmce-editor',
            plugins:'advlist autolink lists link image charmap print preview hr anchor pagebreak searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor colorpicker textpattern imagetools',
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons',
            image_advtab: true,
            image_class_list: [
                {title: 'Float left', value: 'float-start mt-1 me-3 mb-3'},
                {title: 'Float right', value: 'float-end mt-3 mb-3 ms-3'},
            ]
        });
    </script>
    {% endblock %}
{% endblock %}
