{% extends 'base.html' %}

{% block body %}

    <h1>Profile</h1>
    <a class="btn btn-secondary" href="/profile/edit">Edit</a> <br> <br>
    <div class="row">
        <div class="col-3">

            <h3>{{current_user.fname}} {{current_user.lname}} </h3>
            {% if current_user.image %}
                <img width = "200" src="data:image;base64,{{base64encode(current_user.image)}}"> <br>
            {% elif current_user.google_image %}
                <img src="{{current_user.google_image}}"> <br>
            {% endif %}

            Role: {{current_user.role}} <br>
            OUSD Email: {{current_user.email_ousd}} <br>
            Personal Email: {{current_user.email_personal}} <br>
            Mobile: {{current_user.mobile}} <br>
            {% if current_user.team %}
                Team: <a href="/team/{{current_user.team.id}}">{{current_user.team.name}}</a> <br>
                Rank: {{current_user.team.rank}} <br>
                Team Partner: 
                {% for member in current_user.team.members %}
                    {% if member != current_user %}
                        {{member.fname}} {{member.lname}} <br>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
        
        <div class="col-9">

            {% if current_user.stories %}
                <table class="table">
                    <th colspan="2">My Stories</th>
                {% for story in current_user.stories %} <br>
                <tr>
                    <td>{{ moment(story.createdate).calendar() }}</td>
                    <td>
                        <a href="/story/{{story.id}}">{{ story.title }}</a> <br>
                    </td>
                </tr>
                {% endfor %}
                </table>    
                <br> <br>
            {% endif %}

        </div>
    </div>




{% endblock %}
