{% extends 'base.html' %}

{% block body %}

<small>
	<a class="btn btn-secondary" href="/story/edit/{{story.id}}">Edit</a> 
	<a class="btn btn-secondary" href="/story/delete/{{story.id}}">Delete</a>
	<a class="btn btn-secondary" id="retranscribeBtn" href="/story/retranscribe/{{story.id}}">Retranscribe</a>
</small> <br>
<h3>{{story.title}}</h3>
<b>by {{story.author.fname}} {{story.author.lname}}</b> <br>
{% if story.audio %}

<audio controls>
	<source src="data:audio;base64,{{base64encode(story.audio)}}" type="audio/wav">
	Your browser does not support the audio element.
</audio> <br>
{% endif %}
{{story.content|safe}} <br>



<script>
document.addEventListener('DOMContentLoaded', function() {
    var retranscribeBtn = document.getElementById('retranscribeBtn');
    if (retranscribeBtn) {
        retranscribeBtn.addEventListener('click', function(e) {
        var modalHtml = `
            <div class="modal fade" id="modal-transcribe" tabindex="-1" aria-labelledby="modalTranscribeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTranscribeLabel">Transcribing Audio</h5>
                        </div>
                        <div class="modal-body">
                            <p>Please wait while we transcribe your audio. This may take a moment for longer recordings.</p>
                        </div>
                    </div>
                </div>
            </div>`;
            if (!document.getElementById('modal-transcribe')) {
                document.body.insertAdjacentHTML('beforeend', modalHtml);
            }            
            var modal = new bootstrap.Modal(document.getElementById('modal-retranscribe'));
            modal.show();
            setTimeout(function() {
                window.location.href = retranscribeBtn.href;
            }, 1000);
        });
    }
});
</script>
{% endblock %}




